{:deps {integrant/integrant {:mvn/version "0.8.0"}
        aero/aero {:mvn/version "1.1.6"}
        org.clojure/data.json {:mvn/version "2.0.1"}        
        metosin/malli {:mvn/version "0.5.1"}
        metosin/reitit {:mvn/version "0.5.12"}
        ring/ring-jetty-adapter {:mvn/version "1.9.2"}}

 :paths ["src"
         "resources"]

 :aliases {:dev {:extra-paths ["development/src"
                               "development/resources"]

                 :extra-deps {integrant/repl {:mvn/version "0.3.2"}
                              ring/ring-mock {:mvn/version "0.4.0"}}}

           :test {:extra-paths ["test"]}
           
           ;; build an uberjar (application) with AOT compilation by default:
           :uberjar {:replace-deps
                     {com.github.seancorfield/depstar {:mvn/version "2.1.245"}}
                     :exec-fn hf.depstar/uberjar
                     :exec-args {:aot true
                                 :main-class scramblies-clj.main
                                 :group-id "tiagodalloca"
                                 :artifact-id "scramblies-clj"
                                 :target-dir "target/uberjar"}}}}

;; (set 'cider-clojure-cli-aliases "-A:dev")

